// Footer
footer.footer.mt-5
    // Newsletter Wrapper with half background
    .newsletter-wrapper.position-relative
        // Newsletter Section   
        .newsletter.bg-dark.text-white.d-flex.flex-column.flex-lg-row.justify-content-between.align-items-center
            h2.fw-bold.text-uppercase.mb-3.mb-lg-0 STAY UPTO DATE ABOUT OUR LATEST OFFERS
            form.d-flex.flex-column.gap-2
                .input-group
                    span.input-group-text.bg-white.border-0
                        i.bi.bi-envelope
                    input.form-control(type="email" placeholder="Enter your email address")
                button.btn.btn-light.rounded-pill Subscribe to Newsletter

    // Main footer content
    .bg-light.py-5
        .container
            .row.d-flex.justify-content-between
                // Left column
                .col-lg-3.mb-4
                    h4.fw-bold SHOP.CO
                    p.text-muted We have clothes that suits your style and which you’re proud to wear. From women to men.
                    .d-flex.gap-3
                        a(href="#") 
                        i.bi.bi-twitter
                        a(href="#") 
                        i.bi.bi-facebook
                        a(href="#") 
                        i.bi.bi-instagram
                        a(href="#") 
                        i.bi.bi-github

                // Company
                .col-6.col-lg-2.mb-4
                    h6.fw-bold.text-uppercase Company
                    ul.list-unstyled
                        li: a.text-muted.text-decoration-none(href="#") About
                        li: a.text-muted.text-decoration-none(href="#") Features
                        li: a.text-muted.text-decoration-none(href="#") Works
                        li: a.text-muted.text-decoration-none(href="#") Career

                // Help
                .col-6.col-lg-2.mb-4
                    h6.fw-bold.text-uppercase Help
                    ul.list-unstyled
                        li: a.text-muted.text-decoration-none(href="#") Customer Support
                        li: a.text-muted.text-decoration-none(href="#") Delivery Details
                        li: a.text-muted.text-decoration-none(href="#") Terms & Conditions
                        li: a.text-muted.text-decoration-none(href="#") Privacy Policy

                // FAQ
                .col-6.col-lg-2.mb-4
                    h6.fw-bold.text-uppercase FAQ
                    ul.list-unstyled
                        li: a.text-muted.text-decoration-none(href="#") Account
                        li: a.text-muted.text-decoration-none(href="#") Manage Deliveries
                        li: a.text-muted.text-decoration-none(href="#") Orders
                        li: a.text-muted.text-decoration-none(href="#") Payments

                // Resources
                .col-6.col-lg-2.mb-4
                    h6.fw-bold.text-uppercase Resources
                    ul.list-unstyled
                        li: a.text-muted.text-decoration-none(href="#") Free eBooks
                        li: a.text-muted.text-decoration-none(href="#") Development Tutorial
                        li: a.text-muted.text-decoration-none(href="#") How to - Blog
                        li: a.text-muted.text-decoration-none(href="#") Youtube Playlist

        // Bottom strip
        .container-fluid.bg-light.border-top.py-3
            .d-flex.flex-column.flex-lg-row.justify-content-between.align-items-center
                small.text-muted Shop.co © 2000-2023, All Rights Reserved
                .d-flex.gap-2.mt-2.mt-lg-0.w-30
                    a.icon-container(href="#")
                        img(src="../assets/images/Visa.svg" alt="Visa" )
                    a.icon-container(href="#")
                        img(src="../assets/images/Mastercard.svg" alt="Mastercard")
                    a.icon-container(href="#")
                        img(src="../assets/images/Paypal.svg" alt="Paypal")
                    a.icon-container(href="#")
                        img(src="../assets/images/Pay.svg" alt="Apple Pay")
                    a.icon-container(href="#")
                        img(src="../assets/images/G-Pay.svg" alt="Google Pay")
