:root {
  /* Images Sizes for the Homepage */
  // page-image-name-img-width/height: xxxpx;
  --home-trendy-fashionable-couple-posing-img-width: 1440px;
  --home-trendy-fashionable-couple-posing-img-height: 663px;
  --home-T-SHIRT-WITH-TAPE-DETAILS-img-width: 296px;
  --home-T-SHIRT-WITH-TAPE-DETAILS-img-height: 444px;
  --home-SKINNY-FIT-JEANS-img-width: 268px;
  --home-SKINNY-FIT-JEANS-img-height: 402px;
  --home-CHECKERED-SHIRT-img-width: 296px;
  --home-CHECKERED-SHIRT-img-height: 444px;
  --home-SLEEVE-STRIPED-T-SHIRT-img-width: 268px;
  --home-SLEEVE-STRIPED-T-SHIRT-img-height: 402px;
  --home-VERTICAL-STRIPED-SHIRT-img-width: 296px;
  --home-VERTICAL-STRIPED-SHIRT-img-height: 444px;
  --home-COURAGE-GRAPHIC-T-SHIRT-img-width: 294px;
  --home-COURAGE-GRAPHIC-T-SHIRT-img-height: 441px;
  --home-LOOSE-FIT-BERMUDA-SHORTS-img-width: 296px;
  --home-LOOSE-FIT-BERMUDA-SHORTS-img-height: 444px;
  --home-FADED-SKINNY-JEANS-img-width: 252px;
  --home-FADED-SKINNY-JEANS-img-height: 378px;
  --home-Casual-img-width: 973px;
  --home-Casual-img-height: 649px;
  --home-Formal-img-width: 1306px;
  --home-Formal-img-height: 870px;
  --home-Party-img-width: 770px;
  --home-Party-img-height: 616px;
  --home-Gym-img-width: 452px;
  --home-Gym-img-height: 677px;

  /* Images Sizes for the Product Detail Page */
  --prod-One-Life-Graphic-T-shirt-1-img-width: 444px;
  --prod-One-Life-Graphic-T-shirt-1-img-height: 530px;
  --prod-One-Life-Graphic-T-shirt-1-side-img-width: 152px;
  --prod-One-Life-Graphic-T-shirt-1-side-img-height: 167px;
  --prod-One-Life-Graphic-T-shirt-2-img-width: 152px;
  --prod-One-Life-Graphic-T-shirt-2-img-height: 168px;
  --prod-One-Life-Graphic-T-shirt-3-img-width: 152px;
  --prod-One-Life-Graphic-T-shirt-3-img-height: 167px;
  --prod-Polo-with-Contrast-Trims-img-width: 296px;
  --prod-Polo-with-Contrast-Trims-img-height: 444px;
  --prod-Gradient-Graphic-T-shirt-img-width: 296px;
  --prod-Gradient-Graphic-T-shirt-img-height: 444px;
  --prod-Polo-with-Tipping-Details-img-width: 296px;
  --prod-Polo-with-Tipping-Details-img-height: 444px;
  --prod-Black-Striped-T-shirt-img-width: 296px;
  --prod-Black-Striped-T-shirt-img-height: 444px;

  /* Images Sizes for the Category Page */
  --cat-Gradient-Graphic-T-shirt-img-width: 294px;
  --cat-Gradient-Graphic-T-shirt-img-height: 441px;
  --cat-Polo-with-Tipping-Details-img-width: 296px;
  --cat-Polo-with-Tipping-Details-img-height: 444px;
  --cat-Black-Striped-T-shirt-img-width: 296px;
  --cat-Black-Striped-T-shirt-img-height: 444px;
  --cat-skinny-fit-jeans-img-width: 268px;
  --cat-skinny-fit-jeans-img-height: 402px;
  --cat-Checked-Shirt-img-width: 296px;
  --cat-Checked-Shirt-img-height: 444px;
  --cat-Sleeve-Striped-T-shirt-img-width: 296px;
  --cat-Sleeve-Striped-T-shirt-img-height: 444px;
  --cat-Vertical-Striped-Shirt-img-width: 296px;
  --cat-Vertical-Striped-Shirt-img-height: 444px;
  --cat-Courage-Graphic-T-shirt-img-width: 294px;
  --cat-Courage-Graphic-T-shirt-img-height: 441px;
  --cat-Loose-Fit-Bermuda-Shorts-img-width: 296px;
  --cat-Loose-Fit-Bermuda-Shorts-img-height: 444px;

  /* Images Sizes for the Cart Page */
  --cart-Gradient-Graphic-T-shirt-img-width: 125px;
  --cart-Gradient-Graphic-T-shirt-img-height: 187px;
  --cart-checked-shirt-img-width: 125px;
  --cart-checked-shirt-img-height: 187px;
  --cart-skinny-fit-jeans-img-width: 102px;
  --cart-skinny-fit-jeans-img-height: 153px;
}