// Colors
$color-black: #000000;
$color-white: #ffffff;
$color-yellow-stars:#FFC633;
$color-green-checkmark:#01AB31;
//color options for purchase
$color-olive-option:#4F4631;
$color-darkgreen-option:#314F4A;
$color-deeppurple-option:#31344F;
//Category page color options
$color-green:#00C12B;
$color-red:#F50606;
$color-yellow:#F5DD06;
$color-orange:#F57906;
$color-cyan:#06CAF5;
$color-blue:#063AF5;
$color-violet:#7D06F5;
$color-pink:#F506A4;
//
$color-greybg: #F0F0F0; //search bar in nav bar and browse by dress style part
//hero part
$color-h1-background: #F2F0F1; // behind the couple photo
//new arrival part
$color-darkergrey-p: #00000099; //paragraphs under headings , beside stars ratings ,in Footer 
$color-lightergrey-p:#00000066; //email address in home and og price before discount
$color-red-discount:#FF3333;
$color-red-discount-bg:#FF33331A;
$color-grey-border:#0000001A; // our happy customers border and buttons border
$color-greybg-pagenum:#0000000F;
//product detail page only
$color-grey-ogprice: #0000004D;

//////////////////////////////////////////////////////////////////////////////////////////////////////
// Fonts

//font families
$font-family-headings: 'Bebas Neue', sans-serif; //integral cf is not free so got this one
$font-family-body: 'Satoshi',sans-serif;

//font weights

$font-weight-bold: 700;
$font-weight-regular: 400;
$font-weight-medium: 500; //its size is normal in big buttons text , footer medium boldness,discount perc


// main font sizes
$font-size-h1: 64px;
$font-size-h2: 48px; // new arrival
$font-size-h3: 36px; // styles in browse by dressing style
$font-size-h4: 20px; // bold text under products //no h3 before h4 but had to for following sections, name in reviews

$font-size-body: 16px; // almost everything grey
$font-size-small: 14px; 
$font-size-price: 24px;
$font-size-discount: 12px; //percentage

//for nav and footer
$font-size-logo: 32px;
$font-size-footer-logo: 33.45px;
$font-size-footer-p: 14px;
// frequently used sizes
$font-size-product-name: 20px;
$font-size-review-names: 20px;
$font-size-grey-rating: 14px; // under products
$font-size-bold-white-text: 40px;
 
// specific to certain pages 
//home page 
$font-size-hero-numbers: 40px; // 200+
//product detail page top half
$font-size-productpage-name: 40px;
$font-size-grey-productpage-rating: 16px;
$font-size-productpage-price: 32px;
$font-size-productpage-discount-percentage: 16px;
$font-size-productpage-allreviews: 24px;
$font-size-productpage-review-date: 22px;
//category page 
$font-size-style-category: 32px;
$font-size-categorypage-buttons-text: 14px;
//filters in category page 
$font-size-filter-regular: 14px; //inclusing price interval numbers
$font-size-grey-filter-dress-styles-text: 16px; //inclusinf price interval numbers
//cart page
$font-size-cart-h1: 40px;
$font-size-product-info: 14px;
$font-size-order-summary: 24px;
$font-size-summary-info: 20px;
$font-size-total-price: 24px;







