doctype html
html(lang="en")
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title Shop Store
        link(rel='preconnect' href='https://fonts.googleapis.com')
        link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
        link(href='https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap' rel='stylesheet')
        link(href='https://api.fontshare.com/v2/css?f[]=satoshi@400&display=swap' rel='stylesheet')
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css")
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css")
        link(rel="stylesheet", href="https://unpkg.com/swiper/swiper-bundle.min.css")
        link(rel='stylesheet' href='css/style.css')
    body
        //- navbar
        include ./pug/layout/nav.pug

        // home-section
        .container-fluid.home-section.pt-5
            .row.d-flex.justify-content-between
                .col-11.col-xl-5.px-5
                    .row.row-col-1
                        h1 FIND CLOTHES THAT MATCHES YOUR STYLE
                    .row.row-col-1.pe-lg-5
                        p.pe-lg-5 Browse through our diverse range of meticulously crafted garments, designed to bring out your individuality and cater to your sense of style.
                    .row.row-cols-1.row-cols-md-3
                        button.mb-4 
                            a(href="category.html") Shop Now
                    .row.row-cols-2.row-cols-md-3
                        .hero-number.d-flex.flex-column 200+
                            span International Brands 
                        
                        .hero-number.d-flex.flex-column 2,000+ 
                            span High-Quality Products 
                        
                        .hero-number.d-flex.flex-column 30,000+ 
                            span Happy Customers
                .col-11.col-xl-6.hero-img.overflow-hidden.position-relative
                    img.couple(src="./assets/images/trendy-fashionable-couple-posing.svg", alt="couple-posing")
                    .big-star.position-absolute 
                        img(src="./assets/home/icons/big-star.svg", alt="big-star")
                    .small-star.position-absolute
                        img(src="./assets/home/icons/small-star.svg", alt="small-star")    

        // brands-section
        .brands-container.bg-dark
            .container.p-3
                .row.d-flex.align-items-center.justify-content-center
                    .col-4.col-sm-3.col-md-2.gy-4.mb-3.d-flex.justify-content-center
                        img(src='./assets/home/brands-logos/versace-logo.svg' alt='versace').img-fluid
                    .col-4.col-sm-3.col-md-2.gy-4.mb-3.d-flex.justify-content-center
                        img(src='./assets/home/brands-logos/zara-logo.svg' alt='zara').img-fluid
                    .col-4.col-sm-3.col-md-2.gy-4.mb-3.me-lg-5.d-flex.justify-content-center
                        img(src='./assets/home/brands-logos/gucci-logo.svg' alt='gucci').img-fluid
                    .col-4.col-sm-3.col-md-2.gy-4.mb-3.me-lg-5.d-flex.justify-content-center
                        img(src='./assets/home/brands-logos/prada-logo.svg' alt='prada').img-fluid
                    .col-4.col-sm-3.col-md-2.gy-4.mb-3.d-flex.justify-content-center
                        img(src='./assets/home/brands-logos/calvinKlein-logo.svg' alt='calvinKlein').img-fluid
        
        // new-arrival-section
        include ./pug/layout/_mixins.pug

        .clothes-container
            .container
                .row
                    .col-12.text-center
                        h2.section-title.text-center new arrivals

                .row.justify-content-between.mt-4
                    .scroll-container.d-flex.justify-content-between 
                            .col-7.col-sm-7.col-md-5.col-lg-4.col-xl-3.d-flex.justify-content-center
                                    +productCard(
                                        './assets/images/T-SHIRT-WITH-TAPE-DETAILS.svg', 
                                        'T-shirt with Tape Details', 
                                        './assets/home/icons/full-rate-star.svg', 
                                        './assets/home/icons/half-rate-star.svg', 
                                        4, 
                                        1, 
                                        '4.5/5', 
                                        '$120', 
                                        NULL,
                                        NULL
                                    )
                            .col-7.col-sm-7.col-md-5.col-lg-4.col-xl-3.d-flex.justify-content-center
                                    +productCard(
                                        './assets/images/SKINNY-FIT-JEANS.svg', 
                                        'Skinny Fit Jeans', 
                                        './assets/home/icons/full-rate-star.svg', 
                                        './assets/home/icons/half-rate-star.svg', 
                                        3, 
                                        1, 
                                        '3.5/5', 
                                        '$240', 
                                        '$260', 
                                        '20'
                                    )
                            .col-7.col-sm-7.col-md-5.col-lg-4.col-xl-3.d-flex.justify-content-center
                                    +productCard(
                                        './assets/images/CHECKERED-SHIRT.svg', 
                                        'Checkered Shirt', 
                                        './assets/home/icons/full-rate-star.svg', 
                                        './assets/home/icons/half-rate-star.svg', 
                                        4, 
                                        1, 
                                        '4.5/5', 
                                        '$180', 
                                        NULL, 
                                        NULL
                                    )
                            .col-7.col-sm-7.col-md-5.col-lg-4.col-xl-3.d-flex.justify-content-center
                                    +productCard(
                                        './assets/images/SLEEVE-STRIPED-T-SHIRT.svg', 
                                        'Sleeve Striped T-shirt', 
                                        './assets/home/icons/full-rate-star.svg', 
                                        './assets/home/icons/half-rate-star.svg', 
                                        4, 
                                        1, 
                                        '4.5/5', 
                                        '$130', 
                                        '$160', 
                                        '30'
                                    )

                .row.row-cols-12.row-cols-md-4.justify-content-center
                    button.mt-5.px-5.py-2.rounded-pill 
                        a(href="category.html") View All                
                         
        hr.responsive-hr

        // Top-selling-section
        .clothes-container
            .container
                .row
                    .col-12.text-center
                        h2.section-title.text-center top selling

                .row.justify-content-between.mt-4
                    .scroll-container.d-flex.justify-content-between 
                            .col-7.col-sm-7.col-md-5.col-lg-4.col-xl-3.d-flex.justify-content-center
                                    +productCard(
                                        './assets/images/VERTICAL-STRIPED-SHIRT.svg', 
                                        'Vertical Striped Shirt', 
                                        './assets/home/icons/full-rate-star.svg', 
                                        './assets/home/icons/half-rate-star.svg', 
                                        5, 
                                        0, 
                                        '5.0/5', 
                                        '$212', 
                                        '$232',
                                        '20'
                                    )
                            .col-7.col-sm-7.col-md-5.col-lg-4.col-xl-3.d-flex.justify-content-center
                                    +productCard(
                                        './assets/images/COURAGE-GRAPHIC-T-SHIRT.svg', 
                                        'Courage Graphic T-shirt', 
                                        './assets/home/icons/full-rate-star.svg', 
                                        './assets/home/icons/half-rate-star.svg', 
                                        4, 
                                        0, 
                                        '4.0/5', 
                                        '$145', 
                                        NULL, 
                                        NULL
                                    )
                            .col-7.col-sm-7.col-md-5.col-lg-4.col-xl-3.d-flex.justify-content-center
                                    +productCard(
                                        './assets/images/LOOSE-FIT-BERMUDA-SHORTS.svg', 
                                        'Loose Fit Bermuda Shorts', 
                                        './assets/home/icons/full-rate-star.svg', 
                                        './assets/home/icons/half-rate-star.svg', 
                                        3, 
                                        0, 
                                        '3.0/5', 
                                        '$80', 
                                        NULL, 
                                        NULL
                                    )
                            .col-7.col-sm-7.col-md-5.col-lg-4.col-xl-3.d-flex.justify-content-center
                                    +productCard(
                                        './assets/images/FADED-SKINNY-JEANS.svg', 
                                        'Faded Skinny Jeans', 
                                        './assets/home/icons/full-rate-star.svg', 
                                        './assets/home/icons/half-rate-star.svg', 
                                        4, 
                                        1, 
                                        '4.5/5', 
                                        '$210', 
                                        NULL, 
                                        NULL
                                    )

                .row.row-cols-12.row-cols-md-4.justify-content-center
                    button.mt-5.px-5.py-2.rounded-pill 
                        a(href="category.html") View All                
                        


        // dress-style-section
        .styles-container
            .container
                .row
                    .col-12.text-center
                        h2.section-title.text-center browse by dress style
                .row.g-3.mt-3
                    .col-12.col-md-6.col-lg-4 
                        .style 
                            a(href="category.html") 
                                img(src="./assets/images/Casual.svg", alt="casual")
                                h3 Casual
                    .col-12.col-md-6.col-lg-8
                        .style 
                            a(href="category.html")
                                img(src="./assets/images/Formal.svg", alt="formal")
                                h3 Formal
                
                    .col-12.col-md-6.col-lg-8 
                        .style 
                            a(href="category.html")
                                img(src="./assets/images/Party.svg", alt="party")
                                h3 Party
                    .col-12.col-md-6.col-lg-4
                        .style 
                            a(href="category.html")
                                img(src="./assets/images/Gym.svg", alt="gym")
                                h3 Gym


        // customers-section
        .customers-container
                .swiper
                    .container
                        .row
                            .col-12
                                h2.section-title our happy customer

                    // If we need navigation buttons
                    .custom-prev-button
                    .custom-next-button      

                    // Additional required wrapper
                    .swiper-wrapper
                        // Slides
                        .swiper-slide 
                            +reviewCard(
                                5,
                                0, 
                                'Sarah M.', 
                                "I'm blown away by the quality and style of the clothes I received from Shop.co. From casual wear to elegant dresses, every piece I've bought has exceeded my expectations."
                            )
                        .swiper-slide 
                            +reviewCard(
                                5,
                                0, 
                                'Alex K.', 
                                "Finding clothes that align with my personal style used to be a challenge until I discovered Shop.co. The range of options they offer is truly remarkable, catering to a variety of tastes and occasions."
                            )  
                        .swiper-slide 
                            +reviewCard(
                                5,
                                0, 
                                'James L.', 
                                "As someone who's always on the lookout for unique fashion pieces, I'm thrilled to have stumbled upon Shop.co. The selection of clothes is not only diverse but also on-point with the latest trends."
                            ) 
                        .swiper-slide 
                            +reviewCard(
                                4,
                                1, 
                                'Samantha D.', 
                                "I absolutely love this t-shirt! The design is unique and the fabric feels so comfortable. As a fellow designer, I appreciate the attention to detail. It's become my favorite go-to shirt."
                            )     
                        .swiper-slide 
                            +reviewCard(
                                3,
                                1, 
                                'Ethan R.', 
                                "This t-shirt is a must-have for anyone who appreciates good design. The minimalistic yet stylish pattern caught my eye, and the fit is perfect. I can see the designer's touch in every aspect of this shirt."
                            )   
                        .swiper-slide   
                            +reviewCard(
                                4,
                                0, 
                                'Olivia P.', 
                                "As a UI/UX enthusiast, I value simplicity and functionality. This t-shirt not only represents those principles but also feels great to wear. It's evident that the designer poured their creativity into making this t-shirt stand out."
                            ) 
                        .swiper-slide 
                            +reviewCard(
                                4,
                                0, 
                                'Liam K.', 
                                "This t-shirt is a fusion of comfort and creativity. The fabric is soft, and the design speaks volumes about the designer's skill. It's like wearing a piece of art that reflects my passion for both design and fashion."
                            ) 
                        .swiper-slide  
                            +reviewCard(
                                4,
                                1, 
                                'Ava H.', 
                                "I'm not just wearing a t-shirt; I'm wearing a piece of design philosophy. The intricate details and thoughtful layout of the design make this shirt a conversation starter."
                            )      
                    
                            

        //- footer
        include ./pug/layout/footer.pug

    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js")
    script(src="https://unpkg.com/swiper/swiper-bundle.min.js")
    
    script.
        const swiper = new Swiper('.swiper', {
            direction: 'horizontal',
            loop: true,
            slidesPerView: 3,
            spaceBetween: 10,
            mousewheel: {
                forceToAxis: true,
            },
            navigation: {
                nextEl: '.custom-next-button',
                prevEl: '.custom-prev-button',
            },
            breakpoints: {
                320: {
                    slidesPerView: 1,
                },
                480: {
                    slidesPerView: 1,
                },
                640: {
                    slidesPerView: 2,
                },
                768: {
                    slidesPerView: 2,
                },
                850: {
                    slidesPerView: 2,
                },
                1140: {
                    slidesPerView: 3,
                },
                
                
            },

        });