doctype html
html(lang="en")
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')

        // Primary SEO
        title One Life Graphic T-Shirt | Shop Store
        meta(name="description" content="Shop the One Life Graphic T-Shirt at Shop Store. A stylish and comfortable t-shirt perfect for everyday casual wear, made from high-quality materials.")
        meta(name="keywords" content="One Life Graphic T-Shirt, graphic tee, casual t-shirt, men's fashion, women's fashion, everyday wear, Shop Store")
        meta(name="author" content="Shop Store Team")

        // Open Graph / Facebook
        meta(property="og:title" content="One Life Graphic T-Shirt | Shop Store")
        meta(property="og:description" content="Shop the One Life Graphic T-Shirt at Shop Store. A stylish and comfortable t-shirt perfect for everyday casual wear.")
        meta(property="og:type" content="product")
        meta(property="og:url" content="http://localhost:3000/dist/productDetails.html")
        meta(property="og:image" content="assets/images/One-Life-Graphic-T-shirt-1.svg")

        // Twitter Card
        meta(name="twitter:card" content="summary_large_image")
        meta(name="twitter:title" content="One Life Graphic T-Shirt | Shop Store")
        meta(name="twitter:description" content="Shop the One Life Graphic T-Shirt at Shop Store. A stylish and comfortable t-shirt perfect for everyday casual wear.")
        meta(name="twitter:image" content="assets/images/One-Life-Graphic-T-shirt-1.svg")

        // Fonts & Styles
        link(rel='preconnect' href='https://fonts.googleapis.com')
        link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
        link(href='https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap' rel='stylesheet')
        link(href='https://api.fontshare.com/v2/css?f[]=satoshi@400&display=swap' rel='stylesheet')
        link(rel='stylesheet' href='css/style.css')

    body
        include ./pug/layout/nav.pug