doctype html
html(lang="en")
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title e-commerce
        link(rel='preconnect' href='https://fonts.googleapis.com')
        link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
        link(href='https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap' rel='stylesheet')
        link(href='https://api.fontshare.com/v2/css?f[]=satoshi@400&display=swap' rel='stylesheet')
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css")
        link(rel='stylesheet' href='css/style.css')
    body
     include ./pug/layout/nav.pug

     div.breadcrumb
         
         .row.breadcrumb-item
         a.text-decoration-none.text-muted(href="#") Home
         li.breadcrumb-item
         a.text-decoration-none.text-muted(href="#") shop
         li.breadcrumb-item
         a.text-decoration-none.text-muted(href="#") men
         li.breadcrumb-item
         a.text-decoration-none.text-muted(href="#") T-shirts



    



        //-footer
        include ./pug/layout/footer.pug
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js")